# Rename this file to eventhub.env.local and fill out relevant info
BROKER_SERVER='<insert eventhub namespace>.servicebus.windows.net:9093'
BROKER_USERNAME='$ConnectionString'
BROKER_PASSWORD='<insert primary read-write connectionstring from Azure>'
